body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
    background-color: #ffffff;
    max-height: fit-content;
}

#input{
    width: 250px;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}
input {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFBFA0;
    margin-bottom: 4px;
    border-radius: 4px;
}

#even{
    background-color: #FFBFA0;
    padding: 10px 1vw;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: space-around;
}
button {
    background: #FFBFA0;
    color: white;
    padding: 10px 20px;
    border: 1px solid #FFBFA0;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

#delete-btn {
    background: white;
    color: #ff6f6a;
}
#cancel img{
    width: 5vw;
    height: 5vw;
}
#cancel{
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    border: none;
}
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #FFBFA0;
}


